### Video Game Sales | George Ceja | VG-STATS | March 26, 2018

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("./vgsales.csv")

### Which company is the most common video game publisher?

In [11]:
publishers = pd.DataFrame(df['Publisher'].groupby(df.Publisher).count())
publishers.sort_values('Publisher', ascending=False).head(1)

                 Publisher
Publisher
Electronic Arts       1351

### Whatâ€™s the most common platform?

In [7]:
platforms = pd.DataFrame(df['Platform'].groupby(df.Platform).count())
platforms.sort_values('Platform', ascending=False).head(1)

          Platform
Platform
DS            2163

### What about the most common genre?

In [8]:
genres = pd.DataFrame(df['Genre'].groupby(df.Genre).count())
genres.sort_values('Genre', ascending=False).head(1)

        Genre
Genre
Action   3316

### What are the top 20 highest grossing games?

In [14]:
games = pd.DataFrame(df[['Name','Global_Sales']])
games.nlargest(20, 'Global_Sales')

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

### For North American video game sales, whatâ€™s the median?

In [26]:
games = pd.DataFrame(df[['Name','NA_Sales']])
games.median()

NA_Sales    0.08
dtype: float64

###### Ten games surrounding the median sales output

In [41]:
games_median = df.groupby(['Name','NA_Sales'])
games_median = df[(df['NA_Sales'] > 0.07) & (df['NA_Sales'] < 10)]
games_median.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
20,21,Pokemon Diamond/Pokemon Pearl,DS,2006.0,Role-Playing,Nintendo,6.42,4.52,6.04,1.37,18.36
22,23,Super Mario Bros. 3,NES,1988.0,Platform,Nintendo,9.54,3.44,3.84,0.46,17.28

### For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [31]:
pd.DataFrame(df[['Name','NA_Sales']]).nlargest(1,'NA_Sales')

         Name  NA_Sales
0  Wii Sports     41.49

In [32]:
pd.DataFrame(df['NA_Sales']).mean()

NA_Sales    0.264667
dtype: float64

In [33]:
pd.DataFrame(df['NA_Sales']).std()

NA_Sales    0.816683
dtype: float64

### The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [47]:
wii_sales = pd.DataFrame(df[['Platform','Global_Sales']]).groupby(df.Platform).mean()
wii_sales.sort_values('Global_Sales', ascending=False).head(15)

          Global_Sales
Platform
GB            2.606633
NES           2.561939
GEN           1.050370
SNES          0.837029
PS4           0.827679
X360          0.774672
2600          0.729925
PS3           0.720722
Wii           0.699404
N64           0.686144
XOne          0.662254
PS            0.610920
PS2           0.581046
WiiU          0.572448
3DS           0.486169

### Come up with 3 more questions that can be answered with this data set.

## Top 5 Most Common Platforms with their most SOLD GAME(amnt)

In [63]:
publishers = pd.DataFrame(df[['Publisher', 'Name']].groupby(df.Publisher).count())
publishers.sort_values('Publisher', ascending=False).head(5)

                              Publisher  Name
Publisher
Electronic Arts                    1351  1351
Activision                          975   975
Namco Bandai Games                  932   932
Ubisoft                             921   921
Konami Digital Entertainment        832   832

## What company is a loser for selling less

In [57]:
publishers = pd.DataFrame(df['Publisher'].groupby(df.Publisher).count())
publishers.sort_values('Publisher', ascending=True).head(1)

           Publisher
Publisher
Locus              1

## EU SALES With their most popular games

In [80]:
genres = pd.DataFrame(df['EU_Sales'].groupby(df.Genre).count())
genres.sort_values('EU_Sales', ascending=False).head(5)

              EU_Sales
Genre
Action            3316
Sports            2346
Misc              1739
Role-Playing      1488
Shooter           1310